//compress: true

@import "blocks/fonts";

@robotoSl_bold: robotoSlab-bold,
sans-serif;

@robotoSl_light: robotoSlab-light,
sans-serif;

@robotoSl_regul: robotoSlab-regular,
sans-serif;

body {
    margin: 0;
    padding: 0;
    background-color: #e6e3e3;
}

.container_grid {
    background-color: #e6e3e3;
    min-width: 1210px;
    max-height: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: max(400px) max(50px) max(190px) 1fr 1fr 1fr max(200px);
}

header {
    background-image: url(../img/bg_header_1500x500.jpg);
    grid-row: 1;
    display: grid;
    min-width: 1210px;
    height: 400px;
    justify-content: center;
}

h1 {
    font-family: @robotoSl_bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2.5em;
    max-height: 100px;
    opacity: 0.6;
      text-shadow: 1px 1px white, 2px 2px white, -1px -1px white, -2px -2px white, -1px 1px white, 1px -1px white, -2px 2px white, 2px -2px white, -3px -3px 4px rgba(0,0,0,.3), -3px 3px 4px rgba(0,0,0,.3), 3px 3px 4px rgba(0,0,0,.3), 3px -3px 4px rgba(0,0,0,.3);
}

nav {
    grid-row: 2;

}

ul {
    display: flex;
    align-content: center;
    justify-content: center;
}

.nav_menu {
    display: block;
    list-style: none;
    width: 120px;
   // height: 15px;
    height: auto;
    margin-right: 20px;
    text-align: center;
    padding: 0.5%;
    border: 1px solid grey;
     border-radius: 11%;
    outline: none;

}

a {
    color: #D71515;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #3939aa;
    transition: all 2s;
}

.nav_menu:hover {
    background-color: #b0b0e8;
     box-shadow: 5px 6px 26px 0 rgba(0,0,0,.2);
     border-radius: 10%;
}
//полоса_______________________________________________________
.top {
    grid-row: 3;
    background-image: url(../img/bg_strip_top.png);
    width: 100%;
    height: 200px;
    margin-top: 1%;
}

h2 {
   font-family: @robotoSl_regul;
    background-color: white;
    text-transform: uppercase;
    display: inline-block;
    margin: 2% 1% 1% 1%;
    font-size: 2.3em;
    max-height: 100px;
    opacity: 0.6;
    text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;
}
//main______________________________________________________________
main {
    grid-row: 4/7;
    margin: 0 30px 0 30px;
}
//section.one_s_____________________________________________________
section.one_s {
    grid-row: 4;
    display: flex;

}

.textP {
    padding: 1%;
    text-align: inherit;
}

div.one {
  // grid-column: 1;
    width: 50%;
}

div.two {
 //  grid-column: 2;
    width: 50%;
}

.textP p {
  font-family: @robotoSl_light;;
    font-size: 18px;
    color: grey;
}

section.two_s {
    grid-row: 5;
    display: grid;
    grid-auto-columns: auto auto;
}

h3 {
    font-family: @robotoSl_light;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.6em;
    opacity: 0.6;

    text-shadow: 1px 1px #732372, 1px -1px #e6e3e3, -1px 1px #d3d1d1, -1px -1px #5b5a5a, 3px 3px 6px rgba(0,0,0,0.5);
}

.block {
  font-family: @robotoSl_light;
    font-size: 18px;
}

.block_1 {
    grid-column: 1;
    width: auto;
    display: inline-block;
     height: auto;
    color: grey;
}

li.servise {
    list-style: square;
    width: auto;
    height: auto;
    margin-right: 0;
    text-align: none;
    padding: none;
    border-radius: none;
    outline: none;
}


.block_2 {
    grid-column: 2;
    width: auto;
    display: inline-block;
    height: auto;
    color: grey;
}

.bottom {
    grid-row: 5;
    height: 200px;
    background-image: url(../img/auto_parts.png);
}

//contact__________________________________________

.contact {
    grid-row: 6;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15%;
}

section h2 {
    font-family: @robotoSl_regul;
    grid-row: 1;
    grid-column: 1/ span 2;
    text-align: center;
}

.map {
    grid-row: 2;
    grid-column: 1;
    display: block;
    max-width: 616px;
    min-height: 341px;
    background-image: url(../img/map1.jpg);
}

.adress {
    grid-row: 2;
    grid-column: 2;
    display: block;
    font-family: @robotoSl_light;
    font-size: 18px;
    list-style: none;
    line-height: 170%;
    color: grey;
}

.adress li {
    font-style: italic;
}

//footer___________________________________________________

footer {
    background-color: #c8d1d1;
    margin-top: 30px;
    max-height: 80px;
    grid-row: 7;
    display: flex;
    font-family: @robotoSl_light;
    font-size: 16px;
    color: white;
    justify-content: center;
    align-items: center;
}



footer p {
    margin-right: 30px;
}


//______________________________________________________________________________________________________________
@import "blocks/media";


/*@media only screen and (min-width: 320px) and (max-width: 480px) {

   .container_grid {
      min-width: 320px;
       max-width: 480px;
       max-height: 1000px;
       grid-template-rows: 170px 50px 1fr 1fr 1fr 1fr 1fr 1fr;
       grid-template-columns: 100%;
       justify-content: center;
       grid-row-gap: 10px;

    }

    header {
        grid-row: 1;
        display: block;
        max-width: 480px;
         min-width: 320px;
        background-image: url(../img/service_2.png);
         background-size: cover;
         background-repeat: no-repeat;
        height: 170px;
    }

    h1 {
        display: block;
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 0;
    }

    nav {
        display: none;
    }

    .top {
    grid-row: 2;
    display: block;
    width: 100%;
    height: 50px;
     background-size: contain;
    opacity: 0.5;
    margin: 0;
}

    main {
    grid-row: 2/8;
    display: block;
    max-width: 480px;
    padding: 0 5px 0 5px;
    margin: 0;
}

     h2#one_top {
      grid-row: 2;
    display: block;
    font-size: 1.5em;
     margin-top: -50px;
    text-align: center;
     background-color: rgba(255, 255, 255, 0.1);
    color: black;
    }

    section.one_s {
    grid-row: 3;
    display: block;
    max-width: 480px;
    text-align: left;

}

    div.one, div.two {
        width: 100%;
         display: block;
    }

     .one_s p {
        margin: 10px 0 10px 0;
         font-size: 14px;
    }

    h2#two_center {
    grid-row: 4;
     display: block;
    font-size: 1.5em;
    text-align: center;
     background-color: rgba(255, 255, 255, 0.1);
    color: black;
    }

    h3 {
     grid-row: 5;
     display: block;
    font-size: 1.2em;
    margin: 10px 0 20px 0;
    text-align: center;
     background-color: rgba(255, 255, 255, 0.1);
    color: black;
    }

    section.two_s {
        grid-row: 6;
        display: block;
    }

    .bottom {
    grid-row: 7;
    display: block;
    width: 100%;
    height: 50px;
    background-size: contain;
    opacity: .5;
    margin: 0;
    }

    section.contact {
       grid-row: 8;
       display: block;
       text-align: center;
       width: 100%;
    }

    h2.cont {
      display: block;
    font-size: 1.5em;
    text-align: center;
     background-color: rgba(255, 255, 255, 0.1);
    color: black;
    }

    .map {
        max-width: 480px;
    }

    ul.block {
        margin: -10px 0 10px 0;
        font-size: 14px;
    }

    ul.adress {
        font-size: 14px;
    }

    footer {
       grid-row: 9;
        display: block;
        font-size: 14px;
        margin: 0;
        text-align: center;
    }

}

*/
