//compress: true

body {
    margin: 0;
    padding: 0;
}

.container_grid {
    background-color: #e6e3e3;
    max-width: 1210px;
    height: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: max(400px) max(200px) max(20px) 1fr 1fr 1fr;
    border: 1px solid black;
}

header {
    background-image: url(/img/bg_header_1500x500.jpg);
    grid-row: 1;
    display: grid;
    max-width: 1210px;
    height: 400px;
    justify-content: center;
}

header:hover {
    background-color: rgba(186, 179, 179, 0.88)
}


h1 {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2.5em;
    max-height: 100px;
}

nav {
    grid-row: 2;

}

ul {
    display: flex;
    align-content: center;
    justify-content: center;
}

ul li {
    list-style: none;
    width: 120px;
   // height: 15px;
    height: auto;
    margin-right: 20px;
    text-align: center;
    padding: 0.5%;
     border-radius: 10%;
    outline: none;

}

a {
    color: #D71515;
    font-size: 1.1em;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #3939aa;
   // border-bottom: 2px solid #ac4848;
}

li:hover {
    background-color: #b0b0e8;
   // border: 2px solid  rgba(155, 155, 222, 0.81);
    box-shadow: 5px 6px 26px 0 rgba(0,0,0,.2);
     border-radius: 10%;

}
